<div class="header">
  <h2>Header</h2>
</div>
<div class="main">
  <h2>Main Block</h2>
  <div class="lorem">
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi porro sit provident amet aliquid repellendus rerum dolor dolorum tempore, cum veniam sapiente, voluptate distinctio eligendi voluptatibus eius vero exercitationem voluptatum.</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi porro sit provident amet aliquid repellendus rerum dolor dolorum tempore, cum veniam sapiente, voluptate distinctio eligendi voluptatibus eius vero exercitationem voluptatum.</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi porro sit provident amet aliquid repellendus rerum dolor dolorum tempore, cum veniam sapiente, voluptate distinctio eligendi voluptatibus eius vero exercitationem voluptatum.</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi porro sit provident amet aliquid repellendus rerum dolor dolorum tempore, cum veniam sapiente, voluptate distinctio eligendi voluptatibus eius vero exercitationem voluptatum.</p>
  </div>
</div>
 
</div>
<div class="footer">
  <h2>Footer</h2>
</div>